dist/
build/
.idea/
__pycache__/
.gitignore
gui.py
setup.cfg
src/__pycache__/
src/pymovie.egg-info/dependency_links.txt
src/pymovie.egg-info/not-zip-safe
src/pymovie.egg-info/top_level.txt
src/pymovie/PyMovie.changetobat
src/pymovie/__pycache__/
PyMovie.ini
src/pymovie/PyMovie.ini
src/pymovie.egg-info/PKG-INFO
src/pymovie.egg-info/SOURCES.txt
src/pymovie/vtiList*.p
src/pymovie/*boxes*.p
src/pymovie/simple-ote.ini
src/pymovie/play*
pymovie-3.7.6/src/pymovie/NE3Lut.p
src/pymovie/custom-digits.p
src/pymovie/formatter.txt
src/pymovie/pyote.ini
